* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}

:root {
    /*Colors*/
    --e_button: #754743;
    --e_button__active: #EC8A83;

    --i_button: #325238;
    --i_button__active: #8BE59D;

    --f_button: #203647;
    --f_button__active: #6AB4F1;

    --j_button: #57542a;
    --j_button__active: #F9F176;

    --console: #f0f0f0;

    --game_button_border_color: #505050;
    /*Font size*/
    --title_font_size: 5.5rem;

    /*Extras*/
    --button_size: 125px;
    --buton_active_scale: 0.88;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    background-image: linear-gradient(160deg, #ffffff 0%, #eaeaea 100%);
}

main {
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(68, 68, 68);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

footer a {
    color: #6AB4F1;
}

.title {
    margin-bottom: 50px;
    font-size: var(--title_font_size);
    background-color: #ec8a83;
    background-image: linear-gradient(90deg, #ec8a83 0%, #8be59d 33%, #6ab4f1 66%, #f9f176 100%);
    color: white;
    padding: 5px 45px;
    border-radius: 15px;
}

.level{
    font-size: 4.6rem;
    color: var(--game_button_border_color);
}

.console {
    width: 650px;
    height: 300px;
    padding: 50px 25px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: 150px 150px;
    grid-template-areas:
        "e1 mm mm i1"
        "v1 f1 j1 v2";
}

.start_input {
    grid-area: mm;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background-color: #fbfbfb;
    transition: transform 0.1s;
}

.start_input:active {
    transform: scale(0.90);
    background-color: #c3c3c3;
}

.game_input {
    width: var(--button_size);
    height: var(--button_size);
    border-radius: 50%;
    border: solid 4px rgb(255, 255, 255);
    color: white;
    font-size: 5rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    transition: transform 0.1s;
}

.button_1 {
    grid-area: e1;
    background-color: var(--e_button);
}

.button_1__active {
    background-color: var(--e_button__active);
    transform: scale(var(--buton_active_scale));
    border: solid 4px rgba(0, 0, 0, 0.5);
}

.button_2 {
    grid-area: i1;
    background-color: var(--i_button);
}

.button_2__active {
    background-color: var(--i_button__active);
    transform: scale(var(--buton_active_scale));
    border: solid 4px rgba(0, 0, 0, 0.5);
}

.button_3 {
    grid-area: f1;
    background-color: var(--f_button);
}

.button_3__active {
    background-color: var(--f_button__active);
    transform: scale(var(--buton_active_scale));
    border: solid 4px rgba(0, 0, 0, 0.5);
}

.button_4 {
    grid-area: j1;
    background-color: var(--j_button);
}

.button_4__active {
    grid-area: j1;
    background-color: var(--j_button__active);
    transform: scale(var(--buton_active_scale));
    border: solid 4px rgba(0, 0, 0, 0.5);
}