* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

:root {
    /*Colors*/
    --e_button:#792121;
    --e_button__active:#d63737;

    --i_button:#1a421a;
    --i_button__active:#58df58;

    --f_button:#0b2849;
    --f_button__active:#2580e9;

    --j_button:#3a3909;
    --j_button__active:#dfdc29;

    --console:#f0f0f0;

    --game_button_border_color:#505050;
    /*Font size*/

    /*Extras*/
    --button_size:125px;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    width: 100%;
    height: 50px;

    background-color: black;
}

.console {
    width: 650px;
    height: 300px;
    padding: 50px 25px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: 150px 150px;
    grid-template-areas: 
    "e1 mm mm i1"
    "v1 f1 j1 v2";
    border-radius: 40px;
    border: solid 3px #a1a1a1;

    background-color: var(--console);
}

.start_input{
    grid-area: mm;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    border: solid 3px #747474;
}

.game_input {
    width: var(--button_size);
    height: var(--button_size);
    border-radius: 50%;
    border: solid 3px var(--game_button_border_color);
    color: white;
    font-size: 5rem;
}

.button_1{
    grid-area: e1;
    background-color: var(--e_button);
}

.button_1__active{
    background-color: var(--e_button__active);
}

.button_2{
    grid-area: i1;
    background-color: var(--i_button);
}

.button_2__active{
    background-color: var(--i_button__active);
}

.button_3{
    grid-area: f1;
    background-color: var(--f_button);
}

.button_3__active{
    background-color: var(--f_button__active);
}

.button_4{
    grid-area: j1;
    background-color: var(--j_button);
}

.button_4__active{
    grid-area: j1;
    background-color: var(--j_button__active) !important;
}


